@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Demo for SotballTech!</h1>
    <br /><p>
        This version has been disabled due to later, better versions now available.
        If you found this site from my LinkedIn profile or my GitHub repo, please refer back to those sites
        for links to the new and improved websites.
    </p>
</div>
